body {
    background: lightgray;
    margin: 0;
}
div{
    box-sizing: border-box;
}
header {
    background: white;
    padding: 10px;
}
div.post {
    margin-bottom: 60px;
    margin-top: 60px;
    background: white;
    width: 100%;
}
header h1{
    padding: 10px;
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}
div.post h2, div.post p{
    margin: 0;
    padding: 10px;
}
div.post img {
    width: 600px;
}
div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child {
    color: gray;
    text-align: right;
    padding: 10px;
    display: inline-block;
    width: 20%;
}